---
layout: default
---
{% if page.archive_type == "column" %}
{% assign posts = site.posts | where: "column", page.archive_value | sort: "date" | reverse %}
{% assign meta = "author" %}
{% else %}
{% assign posts = site.posts | where: "author", page.archive_value | sort: "date" | reverse %}
{% assign meta = "column" %}
{% endif %}
<div class="section archive">
    <h3>{{ page.title }}</h3>
    <ul class="post-list">
        {% for post in posts %}
        {% include post-list-item.html post=post meta=meta %}
        {% endfor %}
    </ul>
</div>
